
<ion-content>
  <div class="grid-container">

    <div class="grid-item">
      <a [routerLink]="['/accordion']">
        <div class="grid-item">
          <img src="https://h5p.org/sites/default/files/styles/small-logo/public/logos/accordion-icon.png?itok=3_FxT7D1" alt="Accordion">
          <h1>Accordion</h1>
        </div>
      </a>
      <p>Create vertically stacked expandable items</p>
    </div>

    <div class="grid-item">
      <a [routerLink]="['/advent-calendar']">
        <div class="grid-item">
          <img src="https://h5p.org/sites/default/files/styles/small-logo/public/logos/advent_calendar_0.png?itok=_V0I25Hl" alt="Advent Calendar">
          <h1>Advent Calendar</h1>
        </div>
      </a>
      <p>Create an advent Calendar</p>
    </div>

    <div class="grid-item">
      <a [routerLink]="['/agamotto']">
        <div class="grid-item">
          <img src="https://h5p.org/sites/default/files/styles/small-logo/public/logos/icon_agamotto.png?itok=Clq7hvlx" alt="Agamotto">
          <h1>Agamotto</h1>
        </div>
      </a>
      <p>Create a sequence of images that gradually</p>
    </div>

    <div class="grid-item">
      <a [routerLink]="['/ar-scavenger']">
        <div class="grid-item">
          <img src="https://h5p.org/sites/default/files/styles/small-logo/public/logos/AR-Icon.png?itok=mEoi42k5" alt="AR Scavenger">
          <h1>AR Scavenger</h1>
        </div>
      </a>
      <p>Augmented reality fun!</p>
    </div>

    <div class="grid-item">
      <a [routerLink]="['/arithmetic-quiz']">
        <div class="grid-item">
          <img src="https://h5p.org/sites/default/files/styles/small-logo/public/logos/basic-arithmetic-quiz-icon-color.png?itok=3Z3UHvqk" alt="Arithmetic Quiz">
          <h1>Arithmetic Quiz</h1>
        </div>
      </a>
      <p>Create time-based arithmetic quizzes</p>
    </div>

    <div class="grid-item">
      <a [routerLink]="['/audio-recorder']">
        <div class="grid-item">
          <img src="https://h5p.org/sites/default/files/styles/small-logo/public/logos/audio-recorder-icon_0.png?itok=jSIQpAV-" alt="Audio Recorder">
          <h1>Audio Recorder</h1>
        </div>
      </a>
      <p>Create an audio recording</p>
    </div>

    <div class="grid-item">
      <a [routerLink]="['/chart']">
        <div class="grid-item">
          <img src="https://h5p.org/sites/default/files/styles/small-logo/public/logos/chart-icon-color.png?itok=niyEDtPd" alt="Chart">
          <h1>Chart</h1>
        </div>
      </a>
      <p>Quickly generate bar and pie charts</p>
    </div>

    <div class="grid-item">
      <a [routerLink]="['/collage']">
        <div class="grid-item">
          <img src="https://h5p.org/sites/default/files/styles/small-logo/public/logos/collage-icon.png?itok=Hoa8BcE9" alt="Collage">
          <h1>Collage</h1>
        </div>
      </a>
      <p>Create a collage of multiple images</p>
    </div>

    <div class="grid-item">
      <a [routerLink]="['/column']">
        <div class="grid-item">
          <img src="https://h5p.org/sites/default/files/styles/small-logo/public/logos/column-icon%20%281%29.png?itok=z0xYLVPx" alt="Column">
          <h1>Column</h1>
        </div>
      </a>
      <p>Column layout for H5P Content</p>
    </div>

    <div class="grid-item">
      <a [routerLink]="['/cornell-notes']">
        <div class="grid-item">
          <img src="https://h5p.org/sites/default/files/styles/small-logo/public/logos/Cornell-logo.png?itok=sSV94EkO" alt="cornell Notes">
          <h1>Cornell Notes</h1>
        </div>
      </a>
      <p>Take notes using the Cornell system</p>
    </div>
  </div>
</ion-content>