ion-content{
  --background: white;
}

.recorder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  ion-button {
    margin: 10px 0;
  }
  
  audio {
    margin-top: 20px;
  }
  