<ion-header>
  <ion-toolbar>
    <ion-title>AR Scavenger Hunt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="position: relative; width: 100%; height: 100vh; overflow: hidden;">
    <a-scene embedded arjs='sourceType: webcam;'>
      <!-- Marker -->
      <a-marker preset="hiro">
        <a-entity
          geometry="primitive: box; depth: 0.2; height: 0.2; width: 0.2"
          material="color: red"
          position="0 0.1 0">
        </a-entity>
      </a-marker>
      <a-entity camera></a-entity>
    </a-scene>
  </div>
</ion-content>
